html, body{
    background-image: url('../images/clapperboard.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-transform: uppercase;
}
#login{
    background-color: white;
    text-align: center;
    width: 90%;
    padding: 3em;
    display: grid;
    row-gap: 1em;
    border-radius: 10px;    
}
#error{
    display:none;
    color:red;
    animation-duration: 0.5s;
    animation-name: slide;
}
@keyframes slide{
    from{
        margin-left: -100em;
    }
    to{
        margin-right: 0em;
    }
}
#error > span{
    font-weight: bold;
    font-size: 1.5em;
}

@media all and (min-width:768px){
    #login{
        width: 60%;
    }
}

@media all and (min-width:1024px){
    #login{
        width: 30%;
    }
}