.title-background {
    background-color: #f4a261;
    width: 95%;
    padding: 1em; 
    
    text-align: center;
    margin-top: 1em;
    border-radius: 25px;
    /* margin-left: 5em; */
    
  }

h1 {
    text-transform: uppercase; 
    color: white;
 }

.search-bar {
    padding: 1em; 
    width: 33.33%;
    /* margin-left: 5em; */
    margin-top: 1em;
}

.plot-summary {
    width: 100%;
    margin-top: 1em;
    /* margin-left: 5em; */
    text-align: left;
    color: white;

}

.movie-stats {
  margin-top: 1em;
  /* margin-left: 5em; */
  text-align: center;
  width: 100%;
  color: white;
}

.row::after {
  content: ""; 
  clear: both; 
  display: table;
  
  /* display: flex;
  justify-content: space-evenly; */
}

.reviews-background {
  background-color: #e76f51;
  width: 100%;
  padding: 1em; 
  float: left;
  text-align: center;
  border-radius: 25px;
  color: white;
  /* margin-top: 1em; */
  margin-bottom: 1em; 
  
    /* margin-left: 5em; */
}

.reviews{
  padding: 1em; 
  margin-right: 5em;
  width:100%;
  overflow-y: scroll; 
  height:400px;
  background-color: white;
}

.column {
  float: left; 
  width: 40%; 
  /* margin-right: 3em; */
  margin: auto;
  /* padding: auto; */
  padding: 1em; 
  margin: 1em; 
  
}

.main-column{
  float: left; 
  width: 33.33%; 
  text-align: center;
  
}
.white-textbox{
  background-color: white;
  margin: auto; 
  margin-top: 1em;
  padding: 1em;
  text-align: center;
  width: 50%
  
}

.people-header{
  background-color: #e76f51;
  /* margin: 1em; */
  margin: auto; 
  margin-top: 1em;
  padding: 1em;
  text-align: center;
  border-radius: 25px;
  width: 50%;
  float: center;
  color: white;
}

button{
  background-color: #2a9d8f;
  color: white;
  padding: 1em;
  margin: 1em;
  width: 50%;
  border-radius: 25px;
}

main {
  width: 95%;
  margin: auto;
}

input {
  width: 100%;
  
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

label {
  color: white;
}

