.title-background {
    background-color: #f4a261;
    width: 40%;
    padding: 1em; 
    
    text-align: center;
    margin-top: 1em;
    /* margin-left: 5em; */
    
  }

h1 {
    text-transform: uppercase; 
    color: white;
 }

.search-bar {
    
    padding: 1em; 
    width: 40%;
    /* margin-left: 5em; */
    margin-top: 1em;
}

.plot-summary {
    width: 40%;
    margin-top: 1em;
    /* margin-left: 5em; */
    text-align: left;
    color: white;

}

.movie-stats {
  margin-top: 1em;
  /* margin-left: 5em; */
  text-align: center;
  width: 40%;
  color: white;
}

.row::after {
  content: ""; 
  clear: both; 
  display: table;
}

.reviews-background {
  background-color: #e76f51;
  width: 18%;
  /* padding: 1em; */
  float: left;
  text-align: center;

  /* margin-top: 1em; */
  /* margin: 0.5em; */
  padding: 1em;
    /* margin-left: 5em; */
}

main {
  width: 95%;
  margin: auto;
}