html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Calibri, sans-serif;
  background-color: #264653;
}

main{
    width: 90%;
    margin: auto;
}

#error,
.error {
  display: none;
  color: red;
  animation-duration: 0.5s;
  animation-name: slide;
}
@keyframes slide {
  from {
    margin-left: -100em;
  }
  to {
    margin-right: 0em;
  }
}
#error > span,
.error > span {
  font-weight: bold;
  font-size: 1.5em;
}

.btn-outline-success{
  color: #2ad841;
  border-color: #2ad841;
}

/* code snippet inspired from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav_push*/
nav {
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  padding-top: 1em;
  overflow-x: hidden;
  background-color: #2a9d8f;
  text-align: center;
  width: 0;
  transition: 0.5s;
}
nav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 2em;
  display: block;
  padding: 8px 8px 8px 32px;
}

h6 {
  font-size: 0.8em;
}

#hamburger {
  text-decoration: none;
  width: auto;
  color: #f2f2f2;
  font-size: 2em;
  display: block;
  padding: 1em;
}

#closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

/* end of code section inspired from W3Schools */

@media all and (hover: hover) {
  nav a:hover {
    color: #fff;
  }
  #closebtn:hover {
    cursor: pointer;
  }
}

@media all and (min-width: 768px) {
  nav {
    text-align: left;
  }
  main {
    transition: 0.5s;
    padding: 16px;
  }
  #hamburger {
    position: relative;
    top: 1em;
    left: 1em;
    padding: 0;
    display: inline;
  }
}
