doctype html
head
  include headTemplate.pug
  title Movies Page
  link(rel="stylesheet", href="/styles/resultsPage.css")

body
    include navigationTemplate.pug
    main
      form(action="" method="GET") 
        input.search-bar(type='text' id="title" name="title" placeholder='Search by title...')
        input(type='submit' value="Search")
      h1 MOVIES
      .column
      if movieData != undefined
        each movieObj in movieData
          a(class="white-background", href="/movies/" + movieObj._id) #{movieObj.title} (#{movieObj.year})
    
