doctype html
html(lang='en')
  head
    include headTemplate.pug
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/styles/creationPage.css')
    title Movie Creation Page
  body
    include navigationTemplate.pug
    main
      h1 SUBMIT A NEW MOVIE
      label(for='title') Movie Title:
      br
      input#title(type='text' name='title')
      br
      label(for='director') Director(s):
      br
      input#director.dropdown-toggle(type='text' name='director' data-bs-toggle="dropdown" autocomplete="off" aria-haspopup="true" aria-expanded="false")
      div(class="dropdown-menu" id="director-dropdown" aria-labelledby="director")
      br
      div(id="director-list" class="grey-textbox")
      br
      label(for='writer') Writer(s):
      br
      input#writer.dropdown-toggle(type='text' name='writer' data-bs-toggle="dropdown" autocomplete="off" aria-haspopup="true" aria-expanded="false")
      div(class="dropdown-menu" id="writer-dropdown" aria-labelledby="writer")
      br
      div(id="writer-list" class="grey-textbox")
      br
      label(for='actor') Actor(s):
      br
      input#actor.dropdown-toggle(type='text' name='actor' data-bs-toggle="dropdown" autocomplete="off" aria-haspopup="true" aria-expanded="false")
      div(class="dropdown-menu" id="actor-dropdown" aria-labelledby="actor")
      br
      div(id="actor-list" class="grey-textbox")
      br
      label(for='genre') Genre(s):
      br
      input#genre(type='text' name='genre')
      br
      button(id="add-genre" class="btn btn-secondary") Add Genre
      br
      div(id="genre-list" class="grey-textbox")
      br
      label(for='title') Plot:
      br
      textarea#plot(type='text' name='plot')
      br
      label(for='year') Year Released:
      br
      input#year(step="1" min="0" type='number' name='year')
      br
      label(for='runtime') Runtime (in mins):
      br
      input#runtime(step="1" min="0" type='number' name='runtime')
      br
      button#addMovie(class="btn btn-primary") Add Movie
    script(src='/scripts/addMovie.js')
