doctype html
html(lang='en')
  head
    include headTemplate.pug
    title Advanced Search
    link(rel='stylesheet' href='./styles/advancedSearch.css')
  body
    include navigationTemplate.pug
    main
      h1
        | Advanced Search
      form(method="GET" action="/movies")
        p Search for movies by title, genre keyword, and/or actor name
        label(for='title') Title:
        br
        input#title(type='text' name='title' placeholder="Title")
        br
        label(for='genre') Genre keyword:
        br
        input#genre(type='text' name='genre' placeholder="Genre keyword")
        br
        label(for='actor') Actor name:
        br
        input#actor(type='text' placeholder="Actor Name" name='actor')
        br
        button#submit Search
