doctype html
head
  include headTemplate.pug
  title Movies Page
  link(rel="stylesheet", href="/styles/resultsPage.css")

body
    include navigationTemplate.pug
    main
        input.search-bar(type='text' placeholder='Search...')
        h1 MOVIES
        .column
        if movieData != undefined
          each movieObj in movieData
            a(class="white-background", href="/movies/" + movieObj._id) #{movieObj.title} (#{movieObj.year})
    
