doctype html
head
  meta(charset='UTF-8')
  title Movies Page
  style
    include ../public/styles/styles.css
    include ../public/styles/movies.css

body
    main
        input.search-bar(type='text' placeholder='Search...')
        h1 MOVIES
        .column
            each movieObj in movieData
                a(class="white-background", href="/movies/" + movieObj.id) #{movieObj.movie.Title} (#{movieObj.movie.Year})
    
