doctype html
head
  include headTemplate.pug
  title Movies Page
  link(rel="stylesheet", href="/styles/resultsPage.css")

body
    include navigationTemplate.pug
    main
      h1 MOVIES SEARCH RESULTS
      .column
      if movieData != undefined
        each movieObj in movieData
          a(class="white-background", href="/movies/" + movieObj._id) #{movieObj.title} (#{movieObj.year})
    
