a#hamburger
    i(class="fas fa-bars")
nav
    a(id="closebtn") &times;
    a(href="/") Home
    a(href="/movies") Movies
    a(href="/persons") People
    a(href="/logout") Logout 
script(src="/scripts/navigation.js")