a#hamburger
    i(class="fas fa-bars")
nav
    a(id="closebtn") &times;
    a(href="/") Home
    a(href="/movies") Search Movies
    if(contributing)
        a(href="/persons/add") Add People

    a(href="/logout") Logout 
script(src="/scripts/navigation.js")