doctype html
head
  meta(charset='UTF-8')
  title Persons Page
  link(rel="stylesheet", href="/styles/styles.css")
  link(rel="stylesheet", href="/styles/resultsPage.css")

body
    main
        input.search-bar(type='text' placeholder='Search...')
        h1 PERSONS
        .column
            each personObj in personData
                a(class="white-background", href="/persons/" + personObj.id) #{personObj.firstName} #{personObj.lastName}